<div class="register">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <!-- <img
          src="https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png"
          class="phone"
        /> -->
        <iframe
          src="../../../assets/images/videodefinitivo.png.mp4"
          class="phone"
        ></iframe>
      </div>
      <div class="col-sm-6">
        <div class="right-column text-center">
          <img src="../../../assets/images/logo.png" class="adrenaline-logo" />
          <p class="info">Sign up to see photo and videos from your friends</p>
          <button type="submit" class="btn btn-primary btn-block">
            <img
              src="../../../assets/images/facebook-icon.png"
              class="fb-logo"
            />

            Log in with Facebook
          </button>
          <p class="or">OR</p>
          <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Full name"
                formControlName="nombre"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                formControlName="username"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                formControlName="password"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Repeat password"
                formControlName="repeat_password"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Insert your email"
                formControlName="email"
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block"
              value="Enviar"
            >
              Sign up
            </button>
          </form>
          <p class="terms">
            By Signing up, you agree to our<b>Terms, Data Policy</b> and
            <b>Cookies Policy</b>
          </p>
          <img
            class="img btn"
            src="../../../assets/images/applestore.png"
            alt=""
          />

          <img
            class="img btn"
            src="../../../assets/images/googlestore.png"
            alt=""
          />
        </div>
        <div class="right-column-login text-center">
          <p>Have an account?<a href="/login"> Login</a></p>
        </div>
        <!-- <div class="right-column-login-img text-center">
          <img class="img" src="../../../assets/images/applestore.png" alt="" />
          <img
            class="img"
            src="../../../assets/images/googlestore.png"
            alt=""
          />
        </div> -->
      </div>
    </div>
  </div>
</div>
