<div class="movil">
  <img
    src="https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png"
    alt=""
  />
</div>

<div class="row">
  <div class="col-4 offset-md-4">
    <h3 class="mb-3">REGISTRO</h3>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" />
      </div>
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" formControlName="username" />
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email" />
      </div>
      <input type="submit" class="btn btn-info" value="Enviar" />
    </form>
  </div>
</div>
