<app-menu></app-menu>
<body>
  <div class="mt-4">
    <div class="container d-flex justify-content-center">
      <div class="col-9">
        <div class="row">
          <div class="col-8">
            <!-- START OF STORIES -->
            <app-stories></app-stories>
            <!-- END OF STORIES -->

            <!-- START OF POSTS -->
            <app-posts></app-posts>
            <!-- END OF POSTS -->
          </div>

          <div class="col-4">
            <!-- START OF USERLOGADO -->
            <app-user-logado></app-user-logado>
            <!-- END OF USERLOGADO -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<app-footer></app-footer>
