.nav {
  position: fixed top left;
  left: 0;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  width: left;
  background-color: white;
  border-top: solid 1px #e6e6e6;
  color: #000000;
  z-index: 100;
}
.nav > button {
  border: none;
  background: none;
  padding: 12px;
}

.nav > button:hover {
  background-color: lightblue;
}
.logo {
  color: #000000;
}
