<body>
  <section class="header">
    <a href="register" class="logo"><h2>ADRENALINE</h2></a>
    <div class="toggle">
      <img src="../../../assets/images/toggle.png" alt="" />
    </div>
  </section>
  <section class="banner">
    <img src="../../../assets/images/banner.jpg" class="fitBg" />
    <div class="content">
      <h2 class="tittle_banner">EXPLORE YOUR OWN LIMITS</h2>
      <p>
        The social network that connects you with your loved ones and with
        nature, join us and let's make the change.
      </p>
      <p>
        Create, Share, Comment, and above all,<span class="bigger">
          Enjoy The Journey.</span
        >
      </p>
      <a href="register" class="btn1">Learn More</a>
    </div>
  </section>
</body>

<div id="parallax-world-of-ugg">
  <section>
    <div class="title">
      <h3>WELLCOME TO</h3>
      <h1>ADRENALINE</h1>
    </div>
  </section>

  <section>
    <div class="parallax-one">
      <h2>THE APP FOR SPORTS & PHOTOGRAPHY</h2>
    </div>
  </section>

  <section>
    <div class="block">
      <p>
        <span class="first-character sc">H</span>ello! my name is Jorge Pinilla,
        Full Stack programming student in ID-BOOTCAMPS, learning stack mean
        technologies, in charge of managing every aspect related to the creation
        and maintenance of a web application. Knowledge in Front-End and
        Back-End development. As a learning process I have Design, layout,
        creation and implementation of Adrenaline, a web application and social
        network for sports & photography.
      </p>
      <p class="Front-Back">
        <i class="fab icon fa-js"></i> | <i class="fab icon fa-angular"></i> |
        <i class="fab icon fa-html5"></i> |
        <i class="fab icon fa-css3-alt"></i> |
        <i class="fab icon fa-bootstrap"></i>|
        <i class="fab icon fa-node-js"></i> |
        <i class="fab icon fa-github"></i> |
        <img
          class="icon1"
          src="https://www.vectorlogo.zone/logos/mysql/mysql-icon.svg"
        />
      </p>

      <p class="line-break margin-top-10 mb-3"></p>

      <p class="margin-top-10">
        First of all, none of this would have been possible without the support
        of my colleagues and teachers. I would like to thank my classmates who
        have helped me throughout the course.Thank you for all the support you
        have given me, thanks to the good atmosphere you have contributed to my
        personal and professional growth.
      </p>
    </div>
  </section>

  <section>
    <div class="parallax-two">
      <h2>ACKNOWLEDGEMENTS</h2>
    </div>
  </section>

  <section>
    <div class="block">
      <p>
        <span class="first-character ny">N</span>atalia Casilda: Always ready to
        help, with a smile and a strength worthy of a warrior. Example of
        absolute self-improvement, empowerment and teamwork. If you want to know
        more click here
        <a href="https://www.linkedin.com/in/natalia-casilda/"> Natalia</a>
        <br />
        <br />
        Fernando Reviriego: Being a great support both at work and mentally. If
        you want to know more click here
        <a href="https://www.linkedin.com/in/fernando-reviriego/">Fernando</a>
        <br />
        Jose Lara: Determination, passion and effort. A great pillar to stand
        on. If you want to know more click here
        <a href="https://www.linkedin.com/in/joselara11/"> Jose</a>
        <br />
        Carlos Mingorance: Great partner, a role model for self-improvement,
        mental strength and determination. If you want to know more click here
        <a
          href="https://www.linkedin.com/in/carlos-mingorance-espigares-8598a1198/"
        >
          Carlos</a
        >
        <br />
        Iván Santa: Teamwork, perseverance and self-improvement, ever vigilant
        and willing to help. You like it? click here
        <a href="https://www.linkedin.com/in/ivan-santa-gonzalez/"> Iván</a>
        <br />
        Leonardo Santamaría: Extrovert, hard-working, persevering, resilient and
        communicative. More? click here
        <a
          href="https://www.linkedin.com/in/leonardo-santamar%C3%ADa-gonz%C3%A1lez/"
        >
          Leonardo</a
        >
        <br />
        Juan Miguel : Tenacious, perspicacious, hard-working and responsible,
        certainly a colleague I would like to continue working with. . You like
        it? click here
        <a
          href="https://www.linkedin.com/in/juan-miguel-medina-rodriguez-082635127/"
        >
          Juan Miguel</a
        >
      </p>

      <p class="line-break margin-top-10"></p>
      <br />
      <p class="margin-top-10">
        All of them have created a unique atmosphere, which I will never forget,
        the conversations, the support, the camaraderie. The countless hours in
        front of the computer, which thanks to them became more enjoyable. To my
        teachers who have helped, supported and advised me so much and who have
        guided me through the whole learning process. Mario Girón & Juan Antonio
        Peréz.
      </p>
      <p>
        I would also like to thank all the ID-BOOTCAMPS administrative team,
        thank you for the support, the guide, witnessing my personal growth at
        ID-BOOTCAMPS has been a very rewarding experience for me, and I would
        like to extend my congratulations for your efforts. Throughout this
        time, I consider myself fortunate to have been a part of your alumni
        list and although we have faced some obstacles along the way, I am happy
        to know that I can always call you MY FAMILY.
      </p>
    </div>
  </section>

  <section>
    <div class="parallax-three">
      <h2>ADRENALINE</h2>
    </div>
  </section>

  <section>
    <div class="block">
      <p>
        <span class="first-character atw">A</span>drenaline is the combination
        of all the work, effort and dedication I have put into the course. The
        experience, which has been hard, has led to the creation of this
        platform. A place where you can show your adventures, share your
        experiences and enjoy this wonderful world. Although the path I have
        started in this sector is new to me, I know that thanks to my efforts
        and dedication I will be able to continue along it and grow
        professionally. Thank you, and welcome to ADRENALINE.
      </p>

      <section>
        <div class="parallax-four">
          <h2 class="btn" [routerLink]="['/register']">LET'S GO</h2>
        </div>
      </section>
    </div>
  </section>
</div>
>
<app-footer></app-footer>
