<div id="parallax-world-of-ugg">
  <section>
    <div class="title">
      <h3>WELLCOME TO</h3>
      <h1>ADRENALINE</h1>
    </div>
  </section>

  <section>
    <div class="parallax-one">
      <h2>THE APP FOR SPORTS & PHOTOGRAPHY</h2>
    </div>
  </section>

  <section>
    <div class="block">
      <p>
        <span class="first-character sc">H</span>ello! my name is Jorge Pinilla,
        Full Stack programming student in ID-BOOTCAMP, learning stack mean
        technologies, in charge of managing every aspect related to the creation
        and maintenance of a web application. Knowledge in Front-End and
        Back-End development. As a learning process I have Design, layout,
        creation and implementation of Adrenaline, a web application and social
        network for sports & photography.
      </p>
      <P
        >FrontEnd: JavaScript| Angular | HTML | CSS | Bootstrap
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BackEnd:
        Express Js | Node js | GitHub | MYSQL</P
      >

      <p class="line-break margin-top-10"></p>
      <p class="margin-top-10">
        First of all, none of this would have been possible without the support
        of my colleagues and teachers. I would like to thank my classmates who
        have helped me throughout the course.Thank you for all the support you
        have given me, thanks to the good atmosphere you have contributed to my
        personal and professional growth.
      </p>
    </div>
  </section>

  <section>
    <div class="parallax-two">
      <h2>ACKNOWLEDGEMENTS</h2>
    </div>
  </section>

  <section>
    <div class="block">
      <p>
        <span class="first-character ny">N</span>atalia Casilda: Always ready to
        help, with a smile and a strength worthy of a warrior. Example of
        absolute self-improvement, empowerment and teamwork. If you want to know
        more click here
        <a href="https://www.linkedin.com/in/natalia-casilda/">IN Natalia</a>
      </p>

      <p class="line-break margin-top-10"></p>
      <br />
      <p>
        Fernando Reviriego: Being a great support both at work and mentally. If
        you want to know more click here
        <a href="https://www.linkedin.com/in/fernando-reviriego/"
          >IN Fernando</a
        >
      </p>
      <p class="line-break margin-top-10"></p>
      <br />
      <p>
        Jose Lara: Determination, passion and effort. A great pillar to stand
        on. If you want to know more click here
        <a href="https://www.linkedin.com/in/joselara11/">IN Jose</a>
      </p>
      <p class="line-break margin-top-10"></p>
      <br />
      <p>
        Carlos Mingorance: Great partner, a role model for self-improvement,
        mental strength and determination. If you want to know more click here
        <a
          href="https://www.linkedin.com/in/carlos-mingorance-espigares-8598a1198/"
          >IN Carlos</a
        >
      </p>
      <p class="line-break margin-top-10"></p>
      <br />
      <p>
        Iván Santa: Teamwork, perseverance, perseverance and self-improvement,
        always attentive and willing to help. You like it? click here
        <a href="https://www.linkedin.com/in/ivan-santa-gonzalez/">IN Iván</a>
      </p>
      <p class="line-break margin-top-10"></p>
      <br />
      <p>
        Leonardo Santamaría: Extrovert, hard-working, persevering, resilient and
        communicative. More? click here
        <a
          href="https://www.linkedin.com/in/leonardo-santamar%C3%ADa-gonz%C3%A1lez/"
          >IN Leonardo</a
        >
      </p>
      <p class="line-break margin-top-10"></p>
      <br />
      <p>
        Juan Miguel : Extrovert, hard-working, persevering, resilient and
        communicative. You like it? click here
        <a
          href="https://www.linkedin.com/in/leonardo-santamar%C3%ADa-gonz%C3%A1lez/"
          >IN Juan Miguel</a
        >
      </p>
      <p class="line-break margin-top-10"></p>
      <br />
      <p class="margin-top-10">
        All of them have created a unique atmosphere, which I will never forget,
        the conversations, the support, the camaraderie. The countless hours in
        front of the computer, which thanks to them became more enjoyable. To my
        teachers who have helped, supported and advised me so much and who have
        guided me through the whole learning process. Mario Girón & Juan Antonio
        Peréz.
      </p>
      <p>
        I would also like to thank all the ID-BOOTCAMPS administrative team,
        thank you for the support, the guide Witnessing my personal growth at
        ID-BOOTCAMP has been a very rewarding experience for me and I would like
        to extend my congratulations for your efforts. Throughout this time, I
        consider myself fortunate to have been a part of your alumni list and
        although we have faced some obstacles along the way, I am happy to know
        that I can always call you MY FAMILY.
      </p>
    </div>
  </section>

  <section>
    <div class="parallax-three">
      <h2>ADRENALINE</h2>
    </div>
  </section>

  <section>
    <div class="block">
      <p>
        <span class="first-character atw">A</span>drenaline is the combination
        of all the work, effort and dedication I have put into the course. The
        experience, which has been hard, has led to the creation of this
        platform. A place where you can show your adventures, share your
        experiences and enjoy this wonderful world. Although the path I have
        started in this sector is new to me, I know that thanks to my efforts
        and dedication I will be able to continue along it and grow
        professionally. thank you and welcome to ADRENALINE.
      </p>
      <p class="line-break margin-top-10"></p>
      <section>
        <div class="parallax-four">
          <h2 class="btn" [routerLink]="['/register']">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LET'S GO
          </h2>
        </div>
      </section>
    </div>
  </section>
</div>
