body {
  background: #111;
}
section .header {
  position: relative;
  padding: 100px;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  margin-left: 100px;
}
.header .toggle img {
  max-width: 40px;
  cursor: pointer;
  margin-right: 100px;
}
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.banner .content {
  position: relative;
  max-width: 950px;
  text-align: center;
  z-index: 1;
}
.banner .content .tittle_banner {
  color: #fff;
  font-size: 5em;
}
.banner .content p {
  color: #fff;
  font-size: 1.2em;
}

.fitBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.btn1 {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  background: #fff;
  color: #333;
  text-decoration: none;
}
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Override UGG site */
#main {
  width: 100%;
  padding: 0;
}
.content-asset p {
  margin: 0 auto;
}
.breadcrumb {
  display: none;
}

/* Helpers */
/**************************/
.margin-top-10 {
  padding-top: 10px;
}
.margin-bot-10 {
  padding-bottom: 10px;
}

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
}
#parallax-world-of-ugg h2 {
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0.9;
}
#parallax-world-of-ugg h3 {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}
#parallax-world-of-ugg p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: "Source Sans Pro", sans-serif;
}

.sc {
  color: #3b8595;
}
.ny {
  color: #3d3c3a;
}
.atw {
  color: #c48660;
}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {
  background: black;
  padding: 60px;
  margin: 0 auto;
  text-align: center;
}
#parallax-world-of-ugg .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
  color: white;
}

#parallax-world-of-ugg .title h3 {
  color: white;
}

/* Section - Block */
/**************************/

#parallax-world-of-ugg .block {
  background: white;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
}
#parallax-world-of-ugg .block-gray {
  background: #f2f2f2;
  padding: 60px;
}
#parallax-world-of-ugg .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1415018255745-0ec3f7aee47b?dpr=1&auto=format&fit=crop&w=1500&h=938&q=80&cs=tinysrgb&crop=);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
#parallax-world-of-ugg .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1432163230927-a32e4fd5a326?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#parallax-world-of-ugg .parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#parallax-world-of-ugg .parallax-four {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1636520529060-5010f1e5a2b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.Front-Back {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.btn {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #111;
}
.footer .sci {
  position: relative;
  display: flex;
  margin-top: 30px;
}
.footer .sci li {
  list-style: none;
}
.footer .sci li a {
  text-decoration: none;
  margin: 0 20px;
}
.footer .sci li a img {
  filter: invert(1);
  max-width: 20px;
}
.copyrightText {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
  font-size: 18px;
  font-weight: 300;
  color: #666;
  text-align: center;
}
.copyrightText a {
  color: #fff;
  text-decoration: none;
}
/* footer {
  padding: 1rem 0;
  background: #f7f7f7;
  text-align: center;
} */
/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
    padding: 40px;
    width: 620px;
  }
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 420px;
  }
  #parallax-world-of-ugg h2 {
    font-size: 30px;
  }
  #parallax-world-of-ugg .block {
    padding: 30px;
  }
  #parallax-world-of-ugg .parallax-one,
  #parallax-world-of-ugg .parallax-two,
  #parallax-world-of-ugg .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {
    padding: 30px 15px;
    width: 290px;
  }
}
.icon {
  font-size: 350%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  margin: 10px;
}
.icon1 {
  width: 7%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  margin: 10px;
}
.fa-js {
  color: rgb(223, 223, 35);
}
.fa-angular {
  color: #dd0031;
}
.fa-css3-alt {
  color: #254ce4;
}
.fa-html5 {
  color: #e44d26;
}
.fa-bootstrap {
  color: #860afb;
}
.fa-node-js {
  color: #579d43;
}
.fa-mysql {
  color: #4479a1;
}
.bigger {
  font-size: 1.2em;
}
